<p id="notice"><%= notice %></p>

<h1>Enquetes</h1> <br>

<table class="table table-striped table-hover">
  <thead class="thead-light">
    <tr>
      <th>Titulo</th>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enquetes.each do |enquete| %>
      <tr>
        <td><%= link_to enquete.titulo, enquete %></td>
        <td><%= enquete.descricao %></td>
        <td><%= link_to '', edit_enquete_path(enquete), class: 'btn btn-outline-primary fas fa-edit fa-sm', title: "Editar" %></td>
        <td><%= link_to '', enquete, method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-outline-danger fas fa-trash-alt fa-sm', title: "Excluir" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to '', new_enquete_path, class: 'btn btn-outline-success fa fa-plus', title: "Nova Opção" %>
