<!DOCTYPE html>
<html>
  <head>
    <title>CabraliaParticipativa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="col-md-12" style="background-color: #ffffda;">
      <%= render 'layouts/navbar' %>
    </div>
    <div class="col-md-12" style="background-color: white;">
      <%= yield %>
    <div>
    <script src="https://kit.fontawesome.com/d196caa582.js" crossorigin="anonymous"></script>
  </body>
</html>
